

.hero-container{
    height: 600px;
    border: 1px solid red;
    /* background-image: url('../../assets/Home/ts-wmns.jpeg') */

}
.hero-img{
    width: 100%;
    /* height: 100%; */
    /* width: 750px;*/
    height: 600px; 
    /* transform: scale(1.5); */
    object-fit: cover;
}

/* Refer to old projects for hero example,
look up how to make hero components  */