

.hero-container{
    height: 600px;
    border: 1px solid red;
    /* background-image: url('../../assets/Home/ts-wmns.jpeg') */

}
img{
    width: 100%;
    /* height: 100%; */
    /* width: 750px;*/
    height: 800px; 
    object-fit: cover;
}

