.category-section-container {
  border: 1px solid red;
  /* height: 800px; */
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.category-card-container {
  /* border: 1px solid rgb(0, 255, 42); */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.category-section-container h3 {
  margin: 10px 0px 15px 30px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.btn-container button{
  width: 190px;
  padding: 10px 8px;
  background-color: black;
  color: white;
  font-size: 1.1rem;
}
